body{
    display: flex;
    flex-direction: column;
}

.header{
    background-color: #1F2937;
    display: flex;
    flex-direction: row;
}

.header div{
    font-size: 24px;
    color: #F9FAF8;

}

#hlogo{
    padding-left: 10%;
    flex-basis: 50%;
}


.header div a{
    font-size: 18px;
    color: #E5E7EB;
    padding: 20px;
}

.first_section {
    background-color: #1F2937;
    height: 200px;
}

.second_section {
    height: 100px;
}

.third_section {
    background-color: #1F2937;
    height: 100px;
}

.fourth_section {
    height: 100px;
}

.footer{
    display: flex;
    background-color: #1F2937;
}
 